.*.sw[pon]
25mm
inch
wyloch
bak/
inch.test
desktop.ini

curved_radial/
dragonlock.stl
old/
openlock.side.stl
plain#riser+wall.A.openlock.stl
plain.blank.A.stl
plain.blank.BA.stl
plain.blank.D.stl
plain.blank.IA.stl
plain.blank.Q.stl
plain/
tmp.stl

